{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "preact",
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react-hooks/recommended",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "no-unused-vars": 0,
    "@typescript-eslint/no-non-null-assertion": 0,
    "@typescript-eslint/no-explicit-any": 0,
    "@typescript-eslint/ban-ts-comment": 0
  },
  "settings": {
    "import/extensions": ["js", "jsx"],
    // We don't use jest, but eslint-config-preact includes it.
    "jest": { "version": 27 }
  },
  "globals": {
    "__COMPONENT_VERSION__": "readonly"
  },
  "ignorePatterns": ["global.d.ts"]
}
